{% macro render_blog_post(post, from_index=false) %}
<div class=" blog-post">
  {% if from_index %}
  <h5><a href="{{ post|url }}">{{ post.title }}</a></h5>
  {% else %}
  <h5>{{ post.title }}</h5>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
    <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
    {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>

</div>
{% endmacro %}