{% extends "layout.html" %}
{% from "macros/home.html" import render_home %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="container mt-3 d-flex flex-column justify-content-center ">
    <div class="card mx-auto m-5 col-6 col-md-6"
        style="background-color: inherit; border: none;">

        <div class="card-body text-center">
            <h5 class="card-title text-muted "><i class="fa fa-cog"
                    aria-hidden="true"></i> Under contruction ... </h5>
            <p class="card-text"> Nothing to see here yet! </p>


        </div>
    </div>

</div>

{% endblock %}