{% extends "layout.html" %}
{% from "macros/home.html" import render_home %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}


<section class="contact-me">
    <div class="container">
        <h4 class="text-center text-muted">Get in touch </h4>
        <p class="text-center text-muted mt-3 mb-5"><span>Got a question?</span> i'd love to hear from you, send me a message and i
            will
            respond as soon as possible</p>
        <form class="contact mx-auto"
            id="contact-form"
            name="myForm"
            class="form"
            action="https://formspree.io/f/mbjqpwqv"
            method="POST"
            target="_blank"
            method="POST"
            role="form">

            <div class="form-group">
                <label class="form-label"
                    id="nameLabel"
                    for="name"></label>
                <input type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Your name"
                    tabindex="1">
            </div>

            <div class="form-group">
                <label class="form-label"
                    id="emailLabel"
                    for="email"></label>
                <input type="email"
                    class="form-control"
                    id="email"
                    name="_replyto"
                    placeholder="Your Email"
                    tabindex="2">
            </div>

            <div class="form-group">
                <label class="form-label"
                    id="subjectLabel"
                    for="sublect"></label>
                <input type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    placeholder="Subject"
                    tabindex="3">
            </div>

            <div class="form-group">
                <label class="form-label"
                    id="messageLabel"
                    for="message"></label>
                <textarea rows="6"
                    cols="60"
                    name="message"
                    class="form-control"
                    id="message"
                    placeholder="Your message"
                    tabindex="4"></textarea>
            </div>

            <div class="text-center mt-4">
                <button type="submit"
                    class="btn btn-mod btn-border btn-large">Send Message</button>
            </div>

        </form><!-- End form -->
    </div>

</section>


{% endblock %}