{% extends "layout.html" %}
{% from "macros/home.html" import render_home %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="container  ">
    <div class="pinned-projects mt-5">
        <!-- /.container -->
        <div class="container mt-5">
            <h4 class="text-center mb-5 mt-4"
                data-aos="zoom-in"> Projects</h4>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                <div class="col mb-4"
                    data-aos-delay="50"
                    data-aos="zoom-in-up">
                    <div class="projects">
                        <div class="card">
                            <div id="project1"
                                class="card-header">
                            </div>
                            <div class="card-bottom">
                                <div class="read-more">
                                    <p>Blog Using Lektor CMS (this website)</p>
                                    <i class="fa fa-caret-up clignot"></i>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-box">
                                        <h6 class="card-body-title"> A Blog Using Lektor CMS (this website)</h6>
                                        <p class="card-body-desc"> A static Blog made with Lektor CMS bootstrap.</p>
                                        <p class="card-body-keys"> <i class="fa fa-tag"></i>Lektor,Js,
                                            AOS,Bootstrap,Fontawesome,
                                            Git,Github,TravisCI </p>
                                        <div class="card-body-action">
                                            <a class="btn btn-primary"
                                                href=""
                                                target="
                                            _blank"><i class="fa fa-code"></i>Code</a>
                                            <a class="btn btn-primary"
                                                href=""
                                                target="_blank"><i class="fa fa-link"></i>Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col mb-4"
                    data-aos-delay="50"
                    data-aos="zoom-in-up">
                    <div class="projects">
                        <div class="card">
                            <div id="project1"
                                class="card-header">
                            </div>
                            <div class="card-bottom">
                                <div class="read-more">
                                    <p>Blog Using Lektor CMS (this website)</p>
                                    <i class="fa fa-caret-up clignot"></i>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-box">
                                        <h6 class="card-body-title"> A Blog Using Lektor CMS (this website)</h6>
                                        <p class="card-body-desc"> A static Blog made with Lektor CMS bootstrap.</p>
                                        <p class="card-body-keys"> <i class="fa fa-tag"></i>Lektor,Js,
                                            AOS,Bootstrap,Fontawesome,
                                            Git,Github,TravisCI </p>
                                        <div class="card-body-action">
                                            <a class="btn btn-primary"
                                                href=""
                                                target="
                                                            _blank"><i class="fa fa-code"></i>Code</a>
                                            <a class="btn btn-primary"
                                                href=""
                                                target="_blank"><i class="fa fa-link"></i>Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col mb-4"
                    data-aos-delay="50"
                    data-aos="zoom-in-up">
                    <div class="projects">
                        <div class="card">
                            <div id="project1"
                                class="card-header">
                            </div>
                            <div class="card-bottom">
                                <div class="read-more">
                                    <p>Blog Using Lektor CMS (this website)</p>
                                    <i class="fa fa-caret-up clignot"></i>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-box">
                                        <h6 class="card-body-title"> A Blog Using Lektor CMS (this website)</h6>
                                        <p class="card-body-desc"> A static Blog made with Lektor CMS bootstrap.</p>
                                        <p class="card-body-keys"> <i class="fa fa-tag"></i>Lektor,Js,
                                            AOS,Bootstrap,Fontawesome,
                                            Git,Github,TravisCI </p>
                                        <div class="card-body-action">
                                            <a class="btn btn-primary"
                                                href=""
                                                target="
                                                        _blank"><i class="fa fa-code"></i>Code</a>
                                            <a class="btn btn-primary"
                                                href=""
                                                target="_blank"><i class="fa fa-link"></i>Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>

</div>



{% endblock %}