{% extends "layout.html" %}
{% from "macros/home.html" import render_home %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<section class="container pinned-projects mt-5">
    <!-- /.container -->
    <div class="container mt-5">
        <h4 class="text-center mb-5 mt-4 text-muted"
            data-aos="zoom-in"> Projects</h4>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
            <div class="col mb-4"
                data-aos-delay="50"
                data-aos="zoom-in-up">
                <div class="projects">
                    <div class="card">
                        <div id="project1"
                            class="card-header">
                        </div>
                        <div class="card-bottom">
                            <div class="read-more">
                                <p>Blog Using Lektor CMS (this website)</p>
                                <i class="fa fa-caret-up clignot"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-body-box">
                                    <h4 class="card-body-title"> A Blog Using Lektor CMS (this website)</h4>
                                    <p class="card-body-desc"> A static Blog made with Lektor CMS bootstrap.</p>
                                    <p class="card-body-keys"> <i class="fa fa-tag"></i>Lektor,Js,
                                        AOS,Bootstrap,Fontawesome,
                                        Git,Github,TravisCI </p>
                                    <div class="card-body-action">
                                        <a class="btn btn-primary"
                                            href="https://github.com/dzc0d3r/codeblog/"
                                            target="
                                            _blank"><i class="fa fa-code"></i>Code</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




            <div class="col mb-4"
                data-aos-delay="150"
                data-aos="zoom-in-up">
                <div class="projects">
                    <div class="card">
                        <div id="project2"
                            class="card-header">
                        </div>
                        <div class="card-bottom">
                            <div class="read-more">
                                <p>phpMyNotes Using docsify.js</p>
                                <i class="fa fa-caret-up clignot"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-body-box">
                                    <h4 class="card-body-title"> PHP developer notes built using Docsify.js</h4>
                                    <p class="card-body-desc"> not finisehd yet .. working on it, i hope i will make a
                                        great resource to learn php the right way </p>
                                    <p class="card-body-keys"> <i class="fa fa-tag"></i>Docsify,Js,
                                        ,Docsify-themeable,
                                        Git,Github, Github Pages </p>
                                    <div class="card-body-action">
                                        <a class="btn btn-primary"
                                            href="https://www.github.com/dzc0d3r/phpMyNotes"
                                            target="_blank"><i class="fa fa-code"></i>Code</a>
                                        <a class="btn btn-primary"
                                            href="https://dzc0d3r.github.io/phpMyNotes/#/"
                                            target="_blank"><i class="fa fa-link"></i>Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col mb-4"
                data-aos-delay="350"
                data-aos="zoom-in-up">
                <div class="projects">
                    <div class="card">
                        <div id="project3"
                            class="card-header">
                        </div>
                        <div class="card-bottom">
                            <div class="read-more">
                                <p>Just a placeholder</p>
                                <i class="fa fa-caret-up clignot"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-body-box">
                                    <h6 class="card-body-title"> Comming soon </h6>
                                    <p class="card-body-desc"> ... </p>
                                    <p class="card-body-keys"> <i class="fa fa-tag"></i>Lektor,Js,
                                        AOS,Bootstrap,Fontawesome,
                                        Git,Github,TravisCI </p>
                                    <div class="card-body-action">
                                        <a class="btn btn-primary"
                                            href="#"
                                            target="_blank"><i class="fa fa-code"></i>Code</a>
                                        <a class="btn btn-primary"
                                            href="#"
                                            target="_blank"><i class="fa fa-link"></i>Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}